@model smartTechAuthenticator.ViewModels.TrackingTestTypeViewModel
@{
    ViewBag.Title = "Step3";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    label {
        display: inline-block;
        margin-top: 15px;
    }

    .user-form h3 {
        text-align: left;
    }

    .container h4 {
        text-align: left;
    }

    .user-form p {
        text-align: left;
    }

    body {
        background-color: #efefef;
    }

    .user-form h3 {
        text-align: left;
        padding-left: 15px;
    }

    @@media (max-width: 768px) {
        .fa-search-head {
            font-size: 20px;
            color: white;
            padding-top: 15px;
            position: absolute;
            right: 15px;
            top: 41%;
        }

        .mobile-nav-toggle {
            padding-top: 25px !important;
        }

            .mobile-nav-toggle.bi-x {
                top: 0px !important;
            }

        .col-md-3 {
            width: 30%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-9 {
            width: 70%;
        }

        .img-responsive {
            width: 100%;
        }

        .product-content p {
            padding: 0px;
            margin: 0px;
        }

        p label {
            font-weight: bold !important;
            padding: 0px;
            margin: 1px;
        }

        .user-form h4 {
            font-weight: bold;
            color: crimson;
        }

        .user-form .product-row {
            background-color: rgb(255 255 255);
            padding: 10px;
            box-shadow: 0px 0px 4px 2px;
            margin: 15px 0px;
        }

        .product-img {
            padding-top: 40px;
        }

        .product-search {
            position: absolute;
            right: 25px;
            top: 50px;
        }

        .search-row {
            position: relative;
            margin-bottom: 25px;
        }

        .upload-btn {
            margin: 10px auto;
        }

        .product .btn {
            margin: 0px;
        }

        .product-img .img-responsive {
            display: block;
            margin: auto;
            display: block;
            margin: auto;
            border-radius: 100px;
        }

        .hero {
            width: 100%;
            height: auto !important;
        }

        .product-btn {
            min-width: 150px !important;
        }

        .scan-product-btn {
            width: 100%;
            background-color: crimson;
        }

        .take-photo-btn {
            width: 100%;
        }

        .popout-btn {
            width: 100% !important;
            background-color: #fbfbfb;
            color: black;
            margin-bottom: 5%;
        }
    }

    @@media (min-width: 769px) {
        .product img {
            box-shadow: 0px 0px 2px 2px;
            display: block;
            margin: 10px auto;
            border-radius: 8px;
            width: 75%;
        }

        .container {
            margin-top: 2%;
            margin-bottom: 1%;
            padding: 0% 20%;
            box-shadow: 0px 0px 5px 1px;
        }

        .col-md-3 {
            width: 25% !important;
        }

        .footer-menu .fa {
            display: block !important;
            margin: auto;
        }

        .fa-search-head {
            font-size: 20px;
            color: white;
            padding-top: 15px;
            position: absolute;
            right: 15px;
            top: 0%;
        }

        .mobile-nav-toggle {
            padding-top: 25px !important;
        }

            .mobile-nav-toggle.bi-x {
                top: 0px !important;
            }

        .col-md-3 {
            width: 30%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-9 {
            width: 70%;
        }

        .img-responsive {
            width: 50%;
        }

        .product-content p {
            padding: 0px;
            margin: 0px;
        }

        p label {
            font-weight: bold !important;
            padding: 0px;
            margin: 1px;
        }

        .user-form h4 {
            font-weight: bold;
            color: crimson;
        }

        .user-form .product-row {
            background-color: rgb(255 255 255);
            padding: 10px;
            box-shadow: 0px 0px 4px 2px;
            margin: 15px 0px;
        }

        .product-img {
            padding-top: 20px;
        }

        .product-search {
            position: absolute;
            right: 25px;
            top: 50px;
        }

        .search-row {
            position: relative;
            margin-bottom: 25px;
        }

        .upload-btn {
            display: block;
            margin: 10px auto;
            padding: 25px;
        }

        .hero {
            overflow: scroll;
        }

        .product .btn {
            margin: 0px;
        }

        .product-img .img-responsive {
            display: block;
            margin: auto;
            display: block;
            margin: auto;
            border-radius: 100px;
        }

        .hero {
            width: 100%;
            height: auto !important;
        }

        .product-btn {
            min-width: 150px !important;
            float: left;
        }

        .scan-product-btn {
            width: 100%
        }

        .scan-product-btn {
            width: 50%;
            background-color: crimson;
            float: left;
        }

        .take-photo-btn {
            width: 50%;
            float: left;
        }

        .popout-btn {
            width: 100% !important;
            background-color: #fbfbfb;
            color: black;
        }
    }

    .user-form label {
        font-weight: 800 !important;
    }
</style>

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="product-block-verification">
                    @using (Html.BeginForm("Step3", "Home", FormMethod.Post, new { @class = "user - form", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.HiddenFor(x=>x.TrackingId)
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="product-name">
                                    @Html.LabelFor(x => x.AntigenType)
                                    @Html.DropDownListFor(x => x.AntigenType,
                                                                                   (new List<SelectListItem>
                                                                                   {
                                                                                       new SelectListItem(){ Text="Please choose type of test",Value=""},
                                                                                          new SelectListItem(){ Text="RT/PCR",Value="RT/PCR"},
                                                                                          new SelectListItem(){ Text="RTK-Anitbody",Value="RTK-Anitbody"},
                                                                                          new SelectListItem(){ Text="RTK-Antigen-nasab",Value="RTK-Antigen-nasab"},
                                                                                          new SelectListItem(){ Text="RTK-Antigen saliva",Value="RTK-Antigen saliva"},
                                                                                          new SelectListItem(){ Text="Not sure",Value="Not sure"},
                                                                                   }), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.AntigenType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="product-name">
                                    @Html.LabelFor(x => x.TestResults)
                                    @Html.DropDownListFor(x => x.TestResults,
                                                                                   (new List<SelectListItem>
                                                                                   {
                                                                                          new SelectListItem(){ Text="Please choose test type",Value=""},
                                                                                          new SelectListItem(){ Text="Negative",Value="Negative"},
                                                                                          new SelectListItem(){ Text="Positive",Value="Positive"},
                                                                                          new SelectListItem(){ Text="Invalid",Value="Invalid"}
                                                                                   }), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.AntigenType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="product-name mb-2">
                                    @Html.LabelFor(x=>x.FileUrl)
                                    @Html.TextBoxFor(x=>x.FileUrl, new { @type="file", @class="form-control"})
                                    @Html.ValidationMessageFor(x => x.FileUrl, "", new { @class="text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row text-center mb-2"> 
                            <div class="col-md-12 mb-3">
                                <div class="product-name"> 
                                    <button type="submit" class="btn btn-success" style="width:100%;">Submit Record</button>
                                </div>
                            </div>
                        </div>
                    } 
                </div>
            </div>
        </div>
    </div>
</section>