@model smartTechAuthenticator.ViewModels.PasswordCreateModel
@{
    ViewBag.Title = "CreatePassword";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}
<style>

    @@media(max-width:768px) {
        .password-block {
            position: relative;
        }

        .fa-eye {
            position: absolute;
            right: 15px;
            top: 53.5%;
        }

        .fa-eye-slash {
            position: absolute;
            right: 15px;
            top: 53.5%;
        }

        .hero {
            overflow: scroll !important;
            padding: 0px 0 60px 0 !important;
            height: 500px;
            top: 28% !important;
            background-color: white;
        }

        .login_container {
            position: relative;
            top: 55%;
        }

        .footer-menu .fa {
            display: block !important;
            margin: auto !important;
        }

        .signin_option_block {
            margin-bottom: 20px;
        }
    }

    @@media (min-width: 769px) {
        .hero {
            height: -webkit-fill-available;
            margin-top: 0px !important;
            background-color: white;
        }

        .fa-eye {
            position: absolute;
            right: 3%;
            top: 55%;
        }

        .fa-eye-slash {
            position: absolute;
            right: 3%;
            top: 55%;
        }

        .login_section {
            padding: 0%;
        }

        #hero .container {
            margin-top: 0%;
        }

        .password-block {
            position: relative;
        }
    }

    .fixed-top {
        padding: 0px;
    }

    @@media (min-width: 768px) {
        #hero .container {
            margin-top: -3%;
        }
    }

    @@media(max-width:479px) {
        .hero {
            top: auto !important;
            bottom: -25px;
        }
    }
</style>

<section id="hero" class="hero d-flex align-items-center">
    <div class="container login_container">
        <div class="row">
            @using (Html.BeginForm("CreatePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.AntiForgeryToken()
            <div class="col-md-12  mb-3 login_section">
                <div class="login-block mb-4">
                    <h3><b>Create New Password</b></h3>
                    @*<span>Login To Continue</span>*@
                </div>
                @Html.HiddenFor(m => m.Email)
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.Confirmpwd, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Confirmpwd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Confirmpwd, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="form-group mt-3 text-center">
                    <a href="@Url.Action("SignIn","Account" )" class="btn btn-danger" style="float: right;margin:5px;">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary" style="float: right;margin:5px">
                        Submit
                    </button>
                    </div>
                </div>
                }
            </div>
    </div>
</section>
