@model smartTechAuthenticator.ViewModels.OrderHistory
@{
    ViewBag.Title = "TarckingDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var i = 1;
}

<link rel="stylesheet" href="~/Content/assets-mall/css/style.css">
<style>
    .text-end {
        text-align: left !important;
    }

    .card-body:before, .card-body:after {
        content: "";
        display: block;
        clear: both;
    }

    .page-breadcrumb .col-12.d-flex.no-block.align-items-center {
        display: flex !important;
    }

    form.form-horizontal .card-body {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        border-radius: 10px;
        margin-top: 20px;
    }
    .address .shipping-details a {
        width: 50%;
        border: 0;
        outline: none;
        border-radius: 6px;
        min-height: 40px;
        background: #000049a3;
        color: #fff;
        margin: 10px;
        text-align: center;
        padding: 10px;
    }
</style>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Order History</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=@Url.Action("ShippingTracking","Customer")>Orders</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Order Details
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div id="AddressSection" class="checkout-wrapper address" style="margin-top:10px; ">
    <div class="checkout-content" style="margin-left:0px !important ">
        <div class="shipping-details">
            <h5 style="text-align:left">Customer Details</h5>
            <ul>
                <li>
                    <b> Name</b>
                    <span class="">@Model.CustomerDetail.Name</span>
                </li>
                <li>
                    <b>Address </b>
                    <span id="add">@Model.CustomerDetail.Address1 ,@Model.CustomerDetail.Address2 ,@Model.CustomerDetail.State ,@Model.CustomerDetail.District @Model.CustomerDetail.PostCode </span>
                </li>
                <li>
                    <b>Phone Number</b>
                    <span>@Model.CustomerDetail.MobileNo</span>
                </li>
                <li>
                    <b>Order Date</b>
                    <span>@Model.OrderDate</span>
                </li>
                <li>
                    <b>Payment Status</b>
                    <span class="text-primary">@Model.Paymentstatus</span>
                </li>
                <li>
                    <b>Total Ammount</b>
                    <span class="text-primary">RM @Model.TotalAmount</span>
                </li>

            </ul>

        </div>

    </div>
</div>
<div id="AddressSection" class="checkout-wrapper address" style="margin-top:10px; ">
    <div class="checkout-content" style="margin-left:0px !important ">
        <div class="shipping-details">
            <h5 style="text-align:left">Tracking Details</h5>
            <ul>
                <li>
                    <b>Update Tracking Status </b>
                    @Html.DropDownListFor(model => model.Shippingstatus, new SelectList(Model.TrackList, "TarckingId", "TarckStatus"), "--Select Status--", new { @class = "form-control" })
                </li>
                <li>
                    <strong>Tracking Number</strong>
                    @*<input type="text" class="form-control" id="trackingn" />*@
                    @Html.TextBoxFor(model=>model.TrackingNumber,new {@id= "trackingn",@class= "form-control" })
                </li>
                <li>
                    <strong>Tracking Company Name</strong>
                    @*<input type="text" class="form-control" id="txttrackingcmnm" />*@
                    @Html.TextBoxFor(model => model.CourierCompany, new { @id = "txttrackingcmnm", @class = "form-control" })
                </li>
                <li>
                    <span id="success"></span>
                    <span id="error"></span>
                </li>
                <li>
                    <a href="@Url.Action("ShippingTracking","Customer")" id="" style="background-color:peru">Back</a>
                    <button type="button" id="btnupdatetracking" style="width:30%;">Submit</button>
                </li>

            </ul>

        </div>

    </div>
</div>
<div class="row" style="margin-bottom:150px;margin-left:7px">
    <input type="hidden" value="@Model.Id" id="hddOrderId" />
    <div class="col-sm-10">
        <h4 class="">Products Details</h4>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Sr. No.</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Photo</th>
                </tr>
            </thead>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.ProductName</td>
                    <td>@item.Qty</td>
                    <td>RM @item.Price</td>
                    <td><img src="~/Content/Product/@item.Photo" alt="Iamge" style="width:100px;" class="mdi-rounded-corner" /> </td>
                </tr>
                i++;
            }
        </table>
    </div>
    <div class="col-sm-1"></div>


</div>
<script src="~/Content/assets-mall/js/jquery.min.js"></script>
<script src="~/Content/assets-mall/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnupdatetracking").click(function () {
            debugger;
            var shipstatus = $("#Shippingstatus option:selected").val();
            var OrderId = $("#hddOrderId").val();
            var TrackingNumber = $("#trackingn").val();
            var TrackingCompanyNumber = $("#txttrackingcmnm").val();
            if (shipstatus != "" && OrderId != "" && TrackingNumber != "" && TrackingCompanyNumber!="") {
                var data = { "Shipstatus": shipstatus, "OrderId": OrderId, "TrackingNu": TrackingNumber, "TrackingCN": TrackingCompanyNumber }
                $.ajax({
                    url: "/Customer/UpdateTracking",
                    method: "Post",
                    contentType: 'application/x-www-form-urlencoded',
                    data: data,
                    success: function (result) {
                        if (result == "1") {
                            $("#success").text("Tracking Updated !").css("color", "Green");
                        }
                        else {
                            $("#success").text("Status not Updated !").css("color", "red");
                        }
                    },
                })
            } else {
                $("#success").text("Please fill All Fields !").css("color", "red");
            }
        })

    });

</script>

